body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: 100% 1000px;
    background-image: url('loginnnn.jpeg');
    background-repeat: no-repeat;   
}

.login-form{
    margin-top: 180px;
    border-radius: 30px;
    padding: 30px;
    height: 280px;
    width: 400px;
    background-color: rgba(11, 10, 10, 0.2);
    backdrop-filter: blur(10px);
}

h1{
    font-size: 50px;
    color: rgb(223, 190, 233);
    font-weight: bold;
}

h1::selection{
    color: rgb(233, 207, 241);
    background-color: rgb(255, 255, 255, 0.2);
}

input{
    width: 170px;
    height: 25px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    font-size: 17px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 10px;
    color:  rgb(221, 218, 222);
}

input:focus{
    border: none;
    outline: none;
}

.label-p{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: rgb(223, 190, 233);
}

.label-p::selection{
    color: rgb(233, 207, 241);
    background-color: rgb(255, 255, 255, 0.2);
}

.submit-btn{
    font-size: 20px;
    width: 120px;
    font-weight: bold;
    height: 40px;
    padding: 5px;
    background-color:  rgb(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 10px;
    color: rgb(223, 190, 233);
}

.submit-btn:hover{
    color: rgb(241, 235, 235);
    background-color:  rgb(223, 190, 233, 0.2);
}
